*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 

/* Home */
.container-home
{
  height: 830px;
}
.list-produk
{
    border: 1px solid gainsboro;
    padding: 10px;
    float: left;
    width: 200px;
    height: 300px;
    margin: 5px;
    margin-bottom: 65px;
}
 
.list-produk:hover
{
    transition-duration: 700ms;
    box-shadow: 5px 5px gainsboro;
}
 
.list-produk img
{
    width: 100%;
    height: 175px;
    display: block;
    margin-bottom: 5px;
}
 
.list-produk h5
{
    color: black;
    text-align: center;
    margin-bottom: 5px;
}

.list-produk h6
{
  color: black;
  text-align: center;
  vertical-align: bottom;
}

 
.tombol-detail
{
    text-decoration: none;
    border-radius: 7px;
    padding: 7px;
    display: block;
    float: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    transition: 300ms ease-in-out;
    transition-property: background-position, border, color;
    z-index: 1;
}
 
.tombol-detail:hover
{
    background-color: whitesmoke;
    transition-duration: 700ms;
}


/*Header*/
.header
{
  width: 100%;
  height: 500px;
  z-index: -4;
  position: relative;
  padding: 100px 0 50px;
 }

 
 .header-content
 {
  color: #1E1E1D;
  margin-top: 65px;
  text-align: center;
  position: relative;
  z-index: -2;
}
.header-title
{
 font-family: MaragsÐ“, sans-serif;
 font-weight: bold;
 font-size: 60px;
 letter-spacing: 5px;
 line-height: 65px;
}

.decoration {
  position: absolute;
  width: 1350px;
  height: 500px;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  z-index: -3;
}

.decoration-logo {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: 60px;
  left: 61%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.header-tagline
{  
 font-family: 'IBM Plex Mono', monospace;
 color: #fe5200;
 font-weight: bold;
 font-size: 18px;
 line-height: 18px;
 letter-spacing: 1px;
}

.header-description
{
 font-family: 'Roboto', sans-serif;
 font-weight: normal;
 font-size: 11px;
 line-height: 100%;
 letter-spacing: 0.4px;
 background-color: #1E1E1D;
 color: #EFEEEA;
 padding: 4px;
 display: inline-block;
}

/* All Product */
.container-all
{
  margin-top: 65px;
}

/* Product-Detail */
.product-detail
{
    text-align: justify;
    padding: 10px;
    width: 100%;
}

.product-detail img
{
    float: left;
    width: 350px;
    margin-right: 100px;
    margin-bottom: 175px;
}

.product-detail img:hover
{
    opacity: 75%;
    transition-duration: 100ms;
}

.product-detail.deskripsi
{
    padding-left: 30%;
}

.tombol-back
{
    text-decoration: none;
    border-radius: 7px;
    padding: 7px;
    display: block;
    float: center;
    width: 50%;
    margin: 4px;
    margin-top: 75px;
    margin-left: 45%;
    text-align: center;
    color: white;
    background-color: blue;
}

.tombol-back:hover
{
    background-color: black;
    transition-duration: 700ms;
}

.input-group {
  clear: both;
  float: center;
  width: 50%;
  margin: 4px;
  margin-top: 0px;
  margin-left: 57%;
  position: absolute;
}

.input-group p{
  margin-right: 17px;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.tombol-keranjang {
  text-decoration: none;
  border-radius: 7px;
  padding: 7px;
  display: block;
  float: center;
  text-align: center;
  color: white;
  background-color: blue;
}

/* Cart Kalo ga perlu hapus aja :v */
.imgcart {
  width: 30%;
  height: 30%;
}

.pt-100 {
  padding-top: 100px;
}
.pb-70 {
  padding-bottom: 70px;
}
.section-header {
  margin-bottom: 60px;
  text-align: center;
}
.section-header i {
  color: #ff007d;
  font-size: 50px;
  display: inline-block;
  margin-bottom: 10px;
}
.section-header h2 {
  font-weight: bold;
  font-size: 34px;
  margin: 0;
}
.section-header p {
  max-width: 500px;
  margin: 20px auto 0;
}
.single-publication {
  border: 1px solid #f2eee2;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.single-publication figure {
  position: relative;
  margin: 0;
  text-align: center;
}
.single-publication figure > a {
  background-color: #fafafa;
  display: block;
}
.single-publication figure ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: -50px;
  top: 20px;
  transition: .6s;
  -webkit-transition: .6s;
}
.single-publication:hover figure ul {
  right: 15px;
}
.single-publication figure ul li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 15px;
  background: #ff007d;
  margin-bottom: 7px;
  border-radius: 50%;
  line-height: 35px;
  color: #fff;
}
.single-publication figure ul li a:hover {
  color: #fff;
  background: #e50663;
}
.single-publication .publication-content {
  text-align: center;
  padding: 20px;
}
.single-publication .publication-content .category {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #ff007d;
  font-weight: 600;
}
.single-publication .publication-content h3 {
  font-weight: 600;
  margin: 8px 0 10px;
  font-size: 20px;
}
.single-publication .publication-content h3 a {
  color: #1f2d30;
}
.single-publication .publication-content h3 a:hover {
  color: #ff007d;
}
.single-publication .publication-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}
.single-publication .publication-content ul li {
  display: inline-block;
  font-size: 18px;
  color: #fec42d;
}
.single-publication .publication-content .price {
  font-size: 18px;
  color: #ff007d;
}
.single-publication .publication-content .price span {
  color: #6f6f6f;
  text-decoration: line-through;
  padding-left: 5px;
  font-weight: 300;
}
.single-publication .add-to-cart {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  -webkit-transform: scale(.7);
  transform: scale(.7);
  height: 20px;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  transition: .4s;
}
.single-publication:hover .add-to-cart {
  visibility: visible;
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}
.single-publication .add-to-cart .default-btn {
  margin-top: 10px;
  padding: 8px 10px;
  font-size: 6px;
}
.single-publication .category {
  margin: 0;
}
.single-publication .add-to-cart .default-btn {
  margin-top: 10px;
  padding: 8px 10px;
  font-size: 6px;
}
.default-btn {
  background-color: #ff007d;
  color: #fff;
  border: 1px solid #ff007d;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.default-btn:hover {
  color: #fff;
  text-decoration: none;
}


/* Footer */
footer
{
  height: 125px;
  bottom: 0px;
}
/* Login Register*/
.container-register
{
  margin: 75px auto;
  width: 350px;
  border: 1px solid #ccc;
}

.container-login  
{
  margin: 75px auto;
  width: 350px;
  border: 1px solid #ccc;
}

/* User-Detail */
.col-3
{
  text-align: left;
}

.col-1
{
  text-align: left;
}

#popup
{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
}

.window
{
  width: 40%;
  height: 90%;
  background: white;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  text-align: center;
  margin: 3% auto;
  overflow-y: scroll;
}

.close-button
{
 width: 37px;
 height: 37px;
 line-height: 23px;
 background: red;
 border-radius: 50%;
 border: 3px solid #fff;
 display: block;
 text-align: center;
 color: #fff;
 text-decoration: none;
 position: absolute;
 top: -10px;
 right: -10px;
}

#popup:target{
  visibility: visible;
}

.order_status{
  margin-top: 25px;
  margin-bottom: 15px;
}

/* Rating */
.content_5_star_inner{
  border: solid 1px green;
  background-color: green;
  color: transparent;
  font-size: 5px;
  border-radius: 5px;
  width: 0%;
  }
  .content_5_star_outer{
  /*border: solid 1px grey;*/
  background-color: lightgrey;
  color: transparent;
  font-size: 5px;
  border-radius: 5px;
  }
  .content_4_star_inner{
  border: solid 1px green;
  background-color: green;
  color: transparent;
  font-size: 5px;
  border-radius: 5px;
  width: 0%;
  }
  .content_4_star_outer{
  /*border: solid 1px grey;*/
  background-color: lightgrey;
  color: transparent;
  font-size: 5px;
  border-radius: 5px;
  }
  .content_3_star_inner{
  border: solid 1px green;
  background-color: green;
  color: transparent;
  font-size: 5px;
  border-radius: 5px;
  width: 0%;
  }
  .content_3_star_outer{
  /*border: solid 1px grey;*/
  background-color: lightgrey;
  color: transparent;
  font-size: 5px;
  border-radius: 5px;
  }
  .content_2_star_inner{
  border: solid 1px green;
  background-color: green;
  color: transparent;
  font-size: 5px;
  border-radius: 5px;
  width: 0%;
  }
  .content_2_star_outer{
  /*border: solid 1px grey;*/
  background-color: lightgrey;
  color: transparent;
  font-size: 5px;
  border-radius: 5px;
  }
  .content_1_star_inner{
  border: solid 1px green;
  background-color: green;
  color: transparent;
  font-size: 5px;
  border-radius: 5px;
  width: 0%;
  }
  .content_1_star_outer{
  /*border: solid 1px grey;*/
  background-color: lightgrey;
  color: transparent;
  font-size: 5px;
  border-radius: 5px;
  }
  .display_rating{
    margin-top: -65px;
    margin-left: -159px;
    margin-right: -198px;
    width: 500px;
    color: black;
    padding: 4em;
  }

  .text-tengah {
    text-align: center!important;
    margin-top: 75px;
  }

  .text-tengah img{
    margin: -10px;
    margin-right: -67px;
    width: 50px;
    height: 45px;
  }

/* Animasi */
:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
  }
  .animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .animate__animated.animate__infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .animate__animated.animate__repeat-1 {
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: var(--animate-repeat);
    animation-iteration-count: var(--animate-repeat);
  }
  .animate__animated.animate__repeat-2 {
    -webkit-animation-iteration-count: calc(1 * 2);
    animation-iteration-count: calc(1 * 2);
    -webkit-animation-iteration-count: calc(var(--animate-repeat) * 2);
    animation-iteration-count: calc(var(--animate-repeat) * 2);
  }
  .animate__animated.animate__repeat-3 {
    -webkit-animation-iteration-count: calc(1 * 3);
    animation-iteration-count: calc(1 * 3);
    -webkit-animation-iteration-count: calc(var(--animate-repeat) * 3);
    animation-iteration-count: calc(var(--animate-repeat) * 3);
  }
  .animate__animated.animate__delay-075s {
    -webkit-animation-delay: calc(1s * 0.75);
    animation-delay: calc(1s * 0.75);
    -webkit-animation-delay: calc(var(--animate-delay) * 0.75);
    animation-delay: calc(var(--animate-delay) * 0.75);
  }
  .animate__animated.animate__delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
  }
  .animate__animated.animate__delay-2s {
    -webkit-animation-delay: calc(1s * 2);
    animation-delay: calc(1s * 2);
    -webkit-animation-delay: calc(var(--animate-delay) * 2);
    animation-delay: calc(var(--animate-delay) * 2);
  }
  .animate__animated.animate__delay-3s {
    -webkit-animation-delay: calc(1s * 3);
    animation-delay: calc(1s * 3);
    -webkit-animation-delay: calc(var(--animate-delay) * 3);
    animation-delay: calc(var(--animate-delay) * 3);
  }
  .animate__animated.animate__delay-4s {
    -webkit-animation-delay: calc(1s * 4);
    animation-delay: calc(1s * 4);
    -webkit-animation-delay: calc(var(--animate-delay) * 4);
    animation-delay: calc(var(--animate-delay) * 4);
  }
  .animate__animated.animate__delay-5s {
    -webkit-animation-delay: calc(1s * 5);
    animation-delay: calc(1s * 5);
    -webkit-animation-delay: calc(var(--animate-delay) * 5);
    animation-delay: calc(var(--animate-delay) * 5);
  }
  .animate__animated.animate__faster {
    -webkit-animation-duration: calc(1s / 2);
    animation-duration: calc(1s / 2);
    -webkit-animation-duration: calc(var(--animate-duration) / 2);
    animation-duration: calc(var(--animate-duration) / 2);
  }
  .animate__animated.animate__fast {
    -webkit-animation-duration: calc(1s * 0.8);
    animation-duration: calc(1s * 0.8);
    -webkit-animation-duration: calc(var(--animate-duration) * 0.8);
    animation-duration: calc(var(--animate-duration) * 0.8);
  }
  .animate__animated.animate__slow {
    -webkit-animation-duration: calc(1s * 2);
    animation-duration: calc(1s * 2);
    -webkit-animation-duration: calc(var(--animate-duration) * 2);
    animation-duration: calc(var(--animate-duration) * 2);
  }
  .animate__animated.animate__slower {
    -webkit-animation-duration: calc(1s * 3);
    animation-duration: calc(1s * 3);
    -webkit-animation-duration: calc(var(--animate-duration) * 3);
    animation-duration: calc(var(--animate-duration) * 3);
  }
  @media print, (prefers-reduced-motion: reduce) {
    .animate__animated {
      -webkit-animation-duration: 1ms !important;
      animation-duration: 1ms !important;
      -webkit-transition-duration: 1ms !important;
      transition-duration: 1ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
    }
  
    .animate__animated[class*='Out'] {
      opacity: 0;
    }
  }
@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .animate__fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  @keyframes fadeInTopRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, -100%, 0);
      transform: translate3d(100%, -100%, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .animate__fadeInTopRight {
    -webkit-animation-name: fadeInTopRight;
    animation-name: fadeInTopRight;
  }    


  /* Flippers */
@-webkit-keyframes flip {
  from {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@keyframes flip {
  from {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
.animate__animated.animate__flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}