{% extends 'layout.html' %}

{% block title %} All Product {% endblock %}

{% block body %}

<div class="container container-all animate__animated animate__fadeInUp animate__fast">
<div class="row justify-content-center">

{% for row in allproducts %}
 <div class="list-produk animate__animated animate__fadeInUp animate__fast">
   <a class="tombol-detail" href="/products/{{row.0}}">
    <img c src="{{ row.4 }}" alt="produk">
    <h5>{{row.1}}</h5>
    <h6>Rp{{row.3}}</h6>
   </a>
 </div>

 {% endfor %}

 <div class="container">
    <a class="btn btn-link float-left" href="/"><--Kembali</a>
 
  </div>
</div>
</div>

{% endblock %}
 