{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block body %}

{% if 'cart_item' in session %}
<p><a id="btnEmpty" href="{{ url_for('/empty_cart') }}" class="btn btn-danger">Empty Cart</a></p>
         <table class="table table-hover">
             <thead>
                 <tr>
                     <th>Product</th>
                     <th>Quantity</th>
                     <th class="text-center">Unit Price</th>
                     <th class="text-center">Price</th>
                     <th> </th>
                 </tr>
             </thead>
             <tbody>
 {% for key, val in session['cart_item'].items() %}
  {% set quantity = session['cart_item'][key]['quantity'] %}
  {% set harga = session['cart_item'][key]['harga'] %}
  {% set item_price = session['cart_item'][key]['total_price'] %} 
                 <tr>
                     <td class="col-sm-8 col-md-6">
                     <div class="media">
                         <a class="thumbnail pull-left" href="#"> <img class="media-object" src="/static/images/product-images/{{ session['cart_item'][key]['image'] }}" style="width: 72px; height: 72px;"> </a>
                         <div class="media-body">
                             <h4 class="media-heading"> <a href="#">{{ session['cart_item'][key]['name'] }}</a></h4>
                             <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                             <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                         </div>
                     </div></td>
                     <td class="col-sm-1 col-md-1" style="text-align: center">
                     <input type="email" class="form-control" value="{{ quantity }}">
                     </td>
                     <td class="col-sm-1 col-md-1 text-center"><strong>${{ harga }} </strong></td>
                     <td class="col-sm-1 col-md-1 text-center"><strong>${{ item_price }} </strong></td>
                     <td class="col-sm-1 col-md-1">
                     <a href="{{ url_for('.delete_product', code=session['cart_item'][key]['code']) }}" class="btn btn-danger">
                         <span class="glyphicon glyphicon-remove"></span> Remove
                     </a></td>
                 </tr>
 {% endfor %}
                 <tr>
                     <td colspan="4"><h5>Total Quantity</h5></td>
                     <td class="text-right"><h5><strong>{{ session['all_total_quantity'] }}</strong></h5></td>
                 </tr>
                 <tr>
                     <td colspan="3"><h3>Total</h3></td>
                     <td colspan="2" class="text-right"><h3><strong>$ {{ session['all_total_price'] }}</strong></h3></td>
                 </tr>
                 <tr>
                     <td colspan="4">
                     <button type="button" class="btn btn-default">
                         <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                     </button></td>
                     <td>
                     <button type="button" class="btn btn-success">
                         Checkout <span class="glyphicon glyphicon-play"></span>
                     </button></td>
                 </tr>
             </tbody>
         </table>
{% else: %}
<div class="no-records">Your Cart is Empty</div>
{% endif %}

{% endblock %}