{% extends 'layout.html' %}

{% block title %} Checkout {% endblock %}

{% block body %}

<div class="container container-cart">
    <div class="starter-template" style="margin-top: 50px;">
      <h3 style="color: #FFBAB3;">Pembayaran</h3>
    <table class="table table-striped" style="position: absolute; width: 800px;">
    <tbody>
    {% for row in checkout %}
    <tr>
    <!-- <input type="hidden" name="pid" value="{{ row.0 }}"> -->
    <td><div class="nama-produk-co"><b>{{row.19}}</b></div></td>
    <td><div class="harga-produk-co"><b>{{row.21 | rupiah}}</b></div></td>
    <td><img c class="imgcart" src="{{row.22}}" alt="produk"></td>
    <td><div class="kota-co">Kota Tujuan : {{ row.0 }}</div></td> 
    <td class="aksi-produk-co" style="border-top: none; width: 100px"><a href="#!" class="btn btn-edit btn-xs" data-toggle="modal" data-target="#modalEdit{{ row.15 }}">Kurir</a></td>
    {% if row.17 == 0 %}   
    <td><div class="harga-kurir-co"><b>Rp0</b></div></td>
    {% else %}
    <td><div class="kurir-co"><b>{{ row.28 }}</b></div></td>
    <td><div class="harga-kurir-co-fix"><b>{{row.17 | rupiah}}</b></div></td>
    {% endif %}
   
    </tr>

    <div id="modalEdit{{ row.15 }}" class="modal fade" role="dialog">


      <div class="modal-dialog">
     
     
      <div class="modal-content" style="top: 134px; border-radius: 17px;background-color: #B8CDC4;">
     
     
      <div class="modal-header">
     
     
      <button type="button" class="close" style="top: ;" data-dismiss="modal">&times;</button>
     
     
     
      </div>
     
     
      <div class="modal-body">
     
     
      <form action="{{ url_for('updatekurir') }}" method="POST" enctype="multipart/form-data">
     
     
      <div class="form-group">
     
     
      <label class="label-kurir-cart">Kurir:</label>
      <input type="hidden" name="pid" value="{{ row.13 }}">
      <input type="hidden">
      <select class="form-kurir-cart" name="kurir">
        <option value='1'>JNE</option>
        <option value='2'>JNT</option>
        <option value='3'>Bukapee</option>
      </select>

      <!-- <div class="form-group">
        <label>Ongkir:</label>
      </div> -->

      <!-- <div class="form-group">
        <label>Total Pembayaran: {{ total[0] | rupiah }}</label>
      </div> -->
     
      <div class="form-group">
     
     
        <button class="btn btn-warning" style="float: right;margin-right: 84px;border-color: #FFF0E1;background-color: #FFF0E1;" type="submit">Update</button>
     
     
      </div>
     
     
      </form>
     
     
      </div>
     
     
     
      </div>
     
     
      </div>
     
     
      </div> 
      
    {% endfor %}

   
   
    </tbody>
   
   
    </table>

   
   
    <div class="background-total-bayar">
      <div class="container total-bayar-cart">
        {% if total[0] is none %}
        <h4><b>Belum pilih kurir</b></h4>
        {% else %}
        <h5><b>Total Pembayaran : {{ total[0] | rupiah }}</b></h5> 
        {% endif %}
      </div>
    
      <div class="container">
        <button onclick="location.href='/bayar'" class="button-pembayaran" type="button"><b>Bayar</b></a>
      </div>
  
      <div class="container">
        <button onclick="location.href='/cart'" class="button-pembayaran-back" type="button"><b>Back</b></a>
      </div>
    </div>
   


    
   </div>
   
   
   

{% endblock %}