{% extends 'layout.html' %}

{% block title %} Checkout {% endblock %}

{% block body %}

<div class="container">
    <div class="starter-template">
    <h1>Pembayaran</h1>
    <table class="table table-striped">
    <thead>
    <tr>
    <td>Alamat Tujuan</td>
    <!-- <td>Harga Total Barang</td> -->
    <td>Pilih Ekspedisi</td>
    <td></td>
    <td>Ongkir</td>
    </tr>
    </thead>
    <tbody>
    {% for row in checkout %}
    <tr>
    <!-- <input type="hidden" name="pid" value="{{ row.0 }}"> -->
    <td>{{ row.0 }}</td> 
    <!-- <td>{{ total[0] | rupiah }}</td> -->
    <td><a href="#!" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modalEdit{{ row.10 }}">Kurir</a></td>
    <td>{{ row.24 }}</td>
    {% if row.14 == NULL %}   
    <td>Belum pilih kurir</td>
    {% else %}
    <td>{{ row.14 | rupiah}}</td>
    {% endif %}
   
    </tr>

    <div id="modalEdit{{ row.10 }}" class="modal fade" role="dialog">


      <div class="modal-dialog">
     
     
      <div class="modal-content">
     
     
      <div class="modal-header">
     
     
      <button type="button" class="close" style="top: ;" data-dismiss="modal">&times;</button>
     
     
      <h4 class="modal-title">Ganti Kurir</h4>
     
     
      </div>
     
     
      <div class="modal-body">
     
     
      <form action="{{ url_for('updatekurir') }}" method="POST" enctype="multipart/form-data">
     
     
      <div class="form-group">
     
     
      <label>Kurir:</label>
      <input type="hidden" name="pid" value="{{ row.10 }}">
      <input type="hidden">
      <select name="kurir">
        <option value='1'>JNE</option>
        <option value='2'>JNT</option>
        <option value='3'>Bukapee</option>
      </select>

      <!-- <div class="form-group">
        <label>Ongkir:</label>
      </div> -->

      <!-- <div class="form-group">
        <label>Total Pembayaran: {{ total[0] | rupiah }}</label>
      </div> -->
     
      <div class="form-group">
     
     
      <button class="btn btn-warning" type="submit">SELECT</button>
     
     
      </div>
     
     
      </form>
     
     
      </div>
     
     
      <div class="modal-footer">
     
     
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     
     
      </div>
     
     
      </div>
     
     
      </div>
     
     
      </div> 
      
    {% endfor %}

   
   
    </tbody>
   
   
    </table>

    <div class="container">
      <h4>Total Pembayaran : {{ total[0] | rupiah }} </h4> 
    </div>
   
    <div class="container">
      <a href="/bayar" class="btn btn-success">Bayar</a>
    </div>

    </div>
   
   
   
   
   </div>
   
   
   

{% endblock %}