{% extends 'layout.html' %} {% block title %} Login {% endblock %} {% block body %}

<div class="container container-login animate__animated animate__fadeInTopRight animate__fast">
  <h3 style="color: #ffbab3">Login</h3>
  <form action="/login" method="POST">
    <div class="form-group">
      <input type="email" class="form-login" name="email" placeholder="Email" required />
    </div>

    <div class="form-group">
      <input type="password" class="form-login" name="password" placeholder="Password" required />
    </div>
    <div class="form-group">
      <button class="btn btn-login">Login</button>
    </div>
  </form>
</div>

<div class="line-login animate__animated animate__fadeInTopRight animate__fast"></div>

<div class="animate__animated animate__fadeInTopRight animate__fast">
  <img c src="static\img\Gambar-login.png" class="isian-kanan" alt="Loginlah Untuk Beli Buku" />
</div>

{% endblock %}
