{% extends 'layout.html' %}

{% block title %} Produk Detail {% endblock %}

{% block body %}

<div class="container">
 <div class="starter-template">
 <h1>Produk Detail</h1>
    <div>
    {% for row in products %}   
    </div>
    <div class="row">
        <div class="product-detail animate__animated animate__fadeInUp animate__faster">
            <img c src="{{row.4}}" alt="produk">
            <div class="product-detail.deskripsi"> 
                <div>
                    <h3><strong>{{row.1}}</strong></h3>
                </div>
                <p>Penjual: {{row.9}}</p>
                <p>Deskripsi: {{row.2}}</p>
                <h3><strong>Rp{{row.3}}</strong></h3>
            </div>
            <div class="input-group">
                <p>stok tersedia : {{ row.7 }}</p>
                <form method="post" action="{{url_for('addToCart')}}">
                    <div class="add-to-cart">
                        <input type="hidden" name="pid" value="{{ row.0 }}"/>
                        <input type="number" name="quantity" class="product-quantity" id="" value="1" min="0" max="{{ row.7 }}">
                        <input type="submit" value="Add to Cart" class="default-btn" />
                      </div>
                </form>


                <!-- <input type="hidden" name="code" value="{{ products.stock }}"/>
                <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field" />
                <a href="/products/addcart"><input type="submit" value="Add to Cart" class="default-btn" /></a> -->
            </div>
            <a class="tombol-back" href="/">Back</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}