{% extends 'layout.html' %} {% block title %} Order Status {% endblock %} {% block body %}

<div class="container">
  <div class="starter-template" style="margin-top: 50px">
    <h3 style="color: #ffbab3">Order Status</h3>
    <div class="tab-order-status">
      <a type="button" class="btn btn-line-now" href="/status-unpaid">Belum Dikirimkan</a>
      <a type="button" class="btn btn-line" href="/status-delivered">Dikirimkan</a>
      <a type="button" class="btn btn-line" href="/status-finished">Selesai</a>
    </div>
    <table class="table table-striped" style="margin-top: 65px">
      <tbody>
        {% for row in status %}
        <tr>
          <td><img c src="{{row.5}}" style="width: 125px" alt="produk" /></td>
          <td>
            <div class="nama-produk-lp"><b>{{row.0}}</b></div>
          </td>
          <td><div class="jumlah-order-status">x{{ row.1 }}</div></td>
          <td>
            <div class="harga-order-status"><b>Total : {{ row.2 | rupiah}}</b></div>
          </td>
          <td>
            <div class="status-order-status" style="margin-top: 28px"><b>Unsent</b></div>
          </td>
          <td><div class="garis-status-seller"></div></td>
        </tr>

        {% else %}

        <div class="no-records"><h4>Oh NO! Belum Memiliki Pesanan</h4></div>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
