{% extends 'layout.html' %}

{% block title %} User {% endblock %}

{% block body %}
<div class="container justify-content-center text-center" style="margin-top: 50px;">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <img src="{{ url_for('static',filename='img/profile.png')}}" alt="Photo Profile" class="rounded-circle" style="width: 225px; height: auto;">
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-auto" style="margin-top: 35px; margin-bottom: 50px;">
      <a href="#" class="btn btn-secondary">Ubah Foto Profil</a>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-1">Username</div>
    <div class="col-md-auto">:</div>
    <div class="col-3">{{ user['name'] }}</div>
  </div>

  <div class="row justify-content-center">
    <div class="col-1">Email</div>
    <div class="col-md-auto">:</div>
    <div class="col-3">{{ user['email'] }}</div>
  </div>

  <div class="row justify-content-center">
    <div class="col-1">Kota</div>
    <div class="col-md-auto">:</div>
    <div class="col-3">{{ user['kota'] }}</div>
  </div>

  <div class="row justify-content-center" style="margin-top: 30px; margin-bottom: 40px;">
    <div class="col-md-auto"><a href="#popup" class="btn btn-warning">Edit Profile</a></div>
    <div class="col-md-auto"><a href="/user-product" class="btn btn-success">Product</a></div>
  </div>

  <div id="popup">
      <div class="window"> 
          <a href="#" class="close-button" title="close">X</a>
          <form action="{{ url_for('update') }}" method="POST">

            <div class="form-group">
                <h1>Edit Profile </h1>
               </div>
    
          <div class="form-group" style="text-align: left;">
           <label>Old Name: {{ user['name'] }}</label>
           <p>New Name:</p>
            <input type="text" class="form-control" name="name">
          </div>
      
          <div class="form-group" style="text-align: left;">
           <label>Old Email: {{ user['email'] }}</label>
           <p>New Email</p>
            <input type="email" class="form-control" name="email">
          </div>
      
          <div class="form-group" style="text-align: left;">
           <label>New Password:</label>
            <input type="password" class="form-control" name="password">
          </div>
      
          <div class="form-group">
           <button class="btn btn-primary">Update</button>
          </div>
      
      
        </form>
      </div>
  </div>

  </div>
</div>
<!-- <div class="one">
    <div class="content" align="center">
        <div class="topbar">
            <h2>Welcome!! You are in Profile Page!! </h2>                        
        </div>  </br>
        <div class="contentbar">
            <h1>Your Details</h1>    </br>
             {% block content %}
                <div class="border">
                    <table class="worddark"></br></br></br></br>
                        <tr>
                            <td>Username :</td>
                            <td>{{ user['name'] }}</td>
                        </tr>
                        <tr>
                            <td>Email :</td>
                            <td>{{ user['email'] }}</td>
                        </tr>                  
                    </table>
                    <a class="button" href="/profile/edit">Edit Profile</a> 
                </div>
            {% endblock %}                              
        </div>
    </div>
</div>
   
   
   
   
    -->
   <!-- /.container -->
   
   
{% endblock %}
   

